html {
	background-color: rgb(245, 245, 245);
}

body {
	margin: 0;
	padding: 0;
	font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Sans-serif;
	color: #4a4a4a;
	background-color: rgb(245, 245, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
